.pages__box {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pages__btn {
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid teal;
    color: teal;
    background: transparent;
    cursor: pointer;
    font-family: 'cambria';
    font-size: 16px;
}

.pages__btn:hover {
    background-color: teal;
    color: #fff;
}

.pages__btn_current {
    min-width: 50px;
    min-height: 50px;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    background-color: teal;
}